{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "useTabs": false
}
