@import 'tailwindcss';
@import 'tw-animate-css';
@import './retro-grid.css';
@import './retro.css';
@import './fonts.css';
@import './noise.css';
@import './aurora.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-success: var(--success);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --animate-grid: grid 180s linear infinite;
    --animate-aurora: aurora 8s ease-in-out infinite alternate;
    --animate-pop-blob: pop-blob 5s infinite;

    --color-warning: var(--warning);
    --animate-background-position-spin: background-position-spin 3000ms infinite alternate;

    @keyframes background-position-spin {
        0% {
            background-position: top center;
        }
        100% {
            background-position: bottom center;
        }
    }
}

:root {
    --radius: 0rem;
    --header-height: 9rem;
    --primary: oklch(0.606 0.226 286.759);
    --primary-foreground: oklch(0.05 0.02 320);
    --background: oklch(0.264 0.03 284.175);
    --foreground: oklch(0.98 0.01 280);
    --card: oklch(0.05 0.02 280);
    --card-foreground: oklch(0.98 0.01 280);
    --popover: oklch(0.05 0.02 280);
    --popover-foreground: oklch(0.98 0.01 280);
    --secondary: oklch(0.72 0.16 292.609);
    --secondary-foreground: oklch(0.05 0.02 220);

    --muted: oklch(0.4 0 0);
    --muted-foreground: oklch(0.7 0 0);
    --accent: oklch(0.9 0.3 60);
    --accent-foreground: oklch(0.05 0.02 60);

    --warning: oklch(0.713 0.166 60.545);
    --destructive: oklch(0.619 0.228 12.068);
    --success: oklch(0.809 0.195 151.783);

    --border: oklch(0.531 0 89.876);
    --input: oklch(0.1 0.03 280);
    --ring: oklch(0.6 0.25 320);
    --chart-1: oklch(0.8 0.3 320);
    --chart-2: oklch(0.7 0.25 220);
    --chart-3: oklch(0.9 0.3 60);
    --chart-4: oklch(0.8 0.35 20);
    --chart-5: oklch(0.7 0.3 140);
    --sidebar: oklch(0.03 0.01 280);
    --sidebar-foreground: oklch(0.98 0.01 280);
    --sidebar-primary: oklch(0.8 0.3 320);
    --sidebar-primary-foreground: oklch(0.05 0.02 320);
    --sidebar-accent: oklch(0.7 0.25 220);
    --sidebar-accent-foreground: oklch(0.05 0.02 220);
    --sidebar-border: oklch(0.8 0.3 320);
    --sidebar-ring: oklch(0.8 0.3 320);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    html {
        font-family:
            'Press Start 2P',
            system-ui,
            -apple-system,
            sans-serif;
        line-height: 1.5;
        font-size: clamp(0.1rem, calc(0.25vw + 1vh + 1px), 2rem);
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;
        user-select: none;
    }
}
